<%- include header %>
    <div class="content clearfix">
        <div class="left-content">
            <ul class="title clearfix">
                <li>最新</li>
                <li>最热</li>
                <li>未回答</li>
            </ul>
            <table class="table">
                <tr>
                    <td>
                        <div>
                            <p>0</p>
                            <span>回答</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p>36</p>
                            <span>浏览</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p>node.js如何与vue.js两线开发</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <p>0</p>
                            <span>回答</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p>36</p>
                            <span>浏览</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p>node.js如何与vue.js两线开发</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="right-content">
            <div class="title">
                排行榜
            </div>
            <table class="table">
                <tr>
                    <td>1</td>
                    <td>Bangalore</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Mumbar</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Bangalore</td>
                </tr>
            </table>
        </div>
    </div>
    <!--登录/注册模态框-->
    <div class="modal fade bs-example-modal-lg" id="loginModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</body>

</html>