<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <h4>登录</h4>
    <label>
        登录 : <input type="text" placeholder="请输入账号">
    </label>
    <div>
        <img src="./showImg" alt="">
    </div>

    <form action="./login" method="post">
        <table align="center">
            <tr>
                <td>email:</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input type="password" name="pwd"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="登录"></td>
            </tr>
        </table>

    </form>

</body>
</html>